<% unless @object.empty? %>
<% @components = @object %>
<hr>

<p>
  <b>Components:</b>
  <ul>
    <% @components.each do |component| %>
    <li> 
      <%= link_to component.title, component =%>
      <% end %>
  </ul>
</p>

<% end %>
