<% unless @object.empty? %>
<% @milestones = @object %>

<hr>

<p>
  <b>Milestones:</b>
  <ul>
    <% @milestones.each do |milestone| %>
    <li> 
      <%= link_to milestone.title, milestone =%>
      <% end %>
  </ul>
</p>

<% end %>
