<h1>About TOM</h1>
<p>Technical Officer's Management</p>

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Overview</a></li>
    <li><a href="#tabs-2">Features</a></li>
    <li><a href="#tabs-3">Comments</a></li>
    <li><a href="#tabs-4">Screenshots</a></li>
  </ul>
  <div id="tabs-1">Overview Page</div>
  <div id="tabs-2">Features Page</div>
  <div id="tabs-3">Comments Page</div>
  <div id="tabs-4">Screenshots Page</div>
</div>



<a href='javascript: toggle()'>toggle</a>
<div id='div1' style='display:none'>
Don't display me
</div>

<script>
function toggle(){
	var div1 = document.getElementById('div1')
	if (div1.style.display == 'none') {
		div1.style.display = 'block'
	} else {
		div1.style.display = 'none'
	}
}
</script>



