<h1>About TOM</h1>
<p>Technical Officer's Management</p>

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Overview</a></li>
    <li><a href="#tabs-2">Features</a></li>
    <li><a href="#tabs-3">Comments</a></li>
    <li><a href="#tabs-4">Screenshots</a></li>
  </ul>
  <div id="tabs-1">Overview Page</div>
  <div id="tabs-2">Features Page</div>
  <div id="tabs-3">Comments Page</div>
  <div id="tabs-4">Screenshots Page</div>
</div>



