body {
    color: darkblue;
    background-color: lightgrey;
}

#h1 {
    text-align: center;
    font-size:  200%
}

#h2 {
    text-align: center;
    font-size:  170%
}

#h3 {
    text-align: center;
    font-size:  140%
}

#ctr {
    text-align: center;
}