<% unless @object.empty? %>
<% @phases = @object %>

<div id="accordion">
    <% @phases.each do |phase| %>
      <h3><%= link_to phase.name, phase %></h3>
      <div><%= showlist("milestones", phase.milestones) %></div>
      <% end %>
</div>

<% end %>
