<% unless @object.empty? %>
<% @phases = @object %>

<hr>

<p>
  <b>Phases:</b>
  <ul>
    <% @phases.each do |phase| %>
    <li> 
      <%= link_to phase.name, phase %>
      <%= showlist("milestones", phase.milestones) %>
      <% end %>
  </ul>
</p>

<% end %>
